@import "~bootstrap/scss/bootstrap";

.message {
  position: fixed;
  width: 300px;
  top: 70px;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition: ease-in-out 1s;
}

.message.animate {
  opacity: 1;
  right: 20px;
}